body{
	background-color:#F0F0F0;
	margin:0px;
	padding:0px;
}
@font-face {
  font-family:montserrat-semiBold;
  src :url(../font/montserrat/Montserrat-SemiBold.ttf) format(truetype);
}
@font-face {
  font-family:PFDinTextPro-MedItalic;
  src :url(../font/pfdin/PFDinTextPro-MedItalic.ttf) format(truetype);
}
@font-face {
  font-family:roboto-bold;
  src :url(../font/roboto/Roboto-Bold.ttf) format(turetype);
}
.headline h1 {
	text-align:center;
	margin-bottom:15px;
}
.headline h4{
	text-align:center;
	color:grey;

}
#product_input{
	margin: 0 auto;
}
.container{
	max-width:900px;
	height:100%;
	margin:0 auto;
}
.container .wrapper{
	
	display:flex;
	flex-wrap: wrap;
}
.container .wrapper .card{
	background-color:#FFFFFF;
	width:230px;
	height:640px;
	border-radius:5px;
    padding:5px 15px 10px;
	margin-bottom:40px;
}

.card:nth-child(even){
	margin-left:10px;
	margin-right:10px;
}
.container .wrapper .card .image{
	margin:-15px 15px 0px;
	width:200px;
	height:300px;
	box-shadow: 3px 2px 5px  grey; 
	
}
.container .wrapper .card .image img{
	width:100%;
	height:100%;
	object-fit:fill;
	opacity:78%;
}
.container .wrapper .card .title h4{
	font-family:montserrat-semiBold;
	text-align:center;
	color:#E7346E;
	text-transform:uppercase;
}
.container .wrapper .card .description h3{
	font-family:PFDinTextPro-MedItalic;
	text-align:center;
	color:rgb(65,76,91);
	margin-bottom:10px;
}
.container .wrapper .card .description p{
	font-family:PFDinTextPro-MedItalic;
	text-align:center;
	color:rgba(128,128,128,.3);
	width:200px;
	height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
}
.container .wrapper .card .price{
	color:grey;
	display:flex;
    justify-content:space-between;
	align-items:center;
	content:#20B9;
}
.container .wrapper .card .price h3{
	content: "\20B9\";
}
.container .wrapper .card .buy button{
	display:block;
	margin:0 auto;
	font-family:roboto-bold;
    width:150px;
    height:30px;
    color:white;
	border-color:rgb(225,69,0);
	border-radius:10px;
    background-color:orange;
	margin-bottom: 10px;
}
.container .wrapper .card .template{
	display:flex;
    justify-content:space-between;
}
.container .wrapper .card .template button{
	width:90px;
    height:30px;
    color:white;
	text-decoration: none;
	border-radius:10px;
    
}
.container .wrapper .card .template  .edit{
    background-color:#77DEDD;
}
.container .wrapper .card .template  .delete{
	background-color:red;
}
.container .wrapper .card img:hover{
	transform:scaleX(-1);
	opacity:1;
}
@media screen and (min-width:320px) and (max-width:450px) {
	.headline h1{
		font-size:20px;
	}
	.headline h4{
		font-size:14px;
	}
	.container{
		margin:0 auto;
		max-width:500px;
	}
	.container .wrapper{
	
	 display:flex;
	 flex-wrap: wrap;
	 justify-content:center;
    }
	.card:nth-child(odd){
		margin-right:10px;
    }
	.container .wrapper .card{
		max-width:120px;
		height:330px;
		padding:2px 10px 2px;
	}
	.container .wrapper .card .image{
		width:100px;
		height:150px;
		margin:-10px 0px 0px;
	}
	.container .wrapper .card .title h4{
		margin:10px 0;
		font-size:12px;
	}
	.container .wrapper .card .description h3{
		margin:0 0 4px;
		font-size:12px;
	}
	.container .wrapper .card .description p{
		margin:0 0 2px;
		font-size:12px;
		width:100px;
	    height:60px;
	}
	.container .wrapper .card .price h3{
		font-size:12px;
	}
	.container .wrapper .card .buy button{
		margin:0 auto;
		width:100px;
		height:25px;
		border-radius:6px;
    }

	
}
